<% if user_signed_in? && current_user.admin? %>
  <p style="color: green"><%= notice %></p>

  <%= render @house %>

  <div>
    <%= link_to "Edit this house", edit_house_path(@house) %> |
    <%= link_to "Back to houses", houses_path %>

    <%= button_to "Destroy this house", @house, method: :delete %>
  </div>
<% else %>
<!-- TOADS COMMAND HERE -->
<div class="container large page">
<%= render "common/results" %>
</div>
<% end %>




<script>
  async function getData(){
    var url = "https://api.ltelections.com/races/house%20"+'<%= @house.state %>'+"-"+'<%= @house.seat%>';
    const response = await fetch(url);
    const data = await response.json();

    parseData(data);
  };

  function parseData(data){
    console.log(data);
  };
  
  getData();
</script>