<!-- TOADS COMMAND HERE -->
<div class="container large page">
  <%= render "common/results" %>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="container large page">
    <p style="color: green"><%= notice %></p>

    <%= render @house %>

    <div>
      <%= link_to "Edit this house", edit_house_path(@house) %> |
      <%= link_to "Back to houses", houses_path %>

      <%= button_to "Destroy this house", @house, method: :delete %>
    </div>
  </div>
<% end %>
