<% if user_signed_in? && current_user.admin? %>
<div class="container large page">
  <p style="color: green"><%= notice %></p>

  <%= render @president %>

  <div>
    <%= link_to "Edit this president", edit_president_path(@president) %> |
    <%= link_to "Back to presidents", presidents_path %>

    <%= button_to "Destroy this president", @president, method: :delete %>
  </div>
</div>
<% else %>
<!-- TOADS COMMAND HERE -->
<div class="container large page">
<%= render "common/results" %>
</div>
<% end %>






