<% if user_signed_in? %>
  <% if current_user.admin? %>

  <div class="container page">
    <h1>New senate</h1>

    <%= render "form", senate: @senate %>

    <br>

    <div>
      <%= link_to "Back to admin page", admin_index_path %>
    </div>



    <!-- FORM TWO: ALL STATES -->
    <h1 class = "text-center text-white">Bulk Add Senate Races</h1>
    <h2 class = "text-center text-white">WARNING: THIS WILL DELETE ALL CURRENT STATES (Not that it really matters)</h2>
    <%= form_for @senate, :url => {:action => "add_bulk_races" } do |form| %>
      <div>
        <%= form.label :date, "Year", class:"text-white" %>
        <%= form.text_field :date, :required => true%>
      </div>
      <!-- Logic goes here for check box states -->
      <% for state in @states do %>
        <div class="px-3" style="border:2px solid black;width:5%;float:left;">
          <%= form.check_box :state, { multiple: true }, state, type:"checkbox"%>
          <%= form.label state, class:"text-white text-uppercase" %>
        </div>
      <% end %>
           
      <%= form.submit "Generate Bulk Races"%>
    <% end %>
  </div>







  <% else %>
    <div class="text-center text-white">
      <h1>Oops! You are not authorized to view this page! Sorry, please return to the page you were previously on!</h1>
  <% end %>
<% end %>