<div id="<%= dom_id misc %>">
  <p>
    <strong>Date:</strong>
    <%= misc.date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= misc.state %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= misc.seat %>
  </p>

  <p>
    <strong>Race type:</strong>
    <%= misc.race_type %>
  </p>

</div>
