<nav class="navbar navbar-expand-lg">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="container">

            <ul class="navbar-nav">

                <ul class="navbar-nav">

                    <li class="nav-item nav-item-logo nav-no-click">
                        <a href="/">
                            <%= image_tag("LTE_Wordmark.png", :alt=> "LTE Logo") %>
                        </a>
                    </li>

                    <li class="nav-item dropdown">

                        <a>Elections</a>

                        <ul class="dropdown-list">

                            <li>
                                <%= link_to "President", presidents_path %>
                            </li>
                            <li>
                                <%= link_to "Senate", senates_path %>
                            </li>
                            <li>
                                <%= link_to "House", houses_path %>
                            </li>
                            <li>
                                <%= link_to "Governor", governors_path %>
                            </li>
                            <li>
                                <%= link_to "Special/Misc", miscs_path %>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a>Polls</a>
                    </li>

                    <li class="nav-item">
                        <%= link_to "News", news_index_path %>
                    </li>

                    <li class="nav-item">
                        <a href="https://discord.gg/LTE" target="_blank"><i class="fa-brands fa-discord"></i>&nbsp;Discord</a>
                    </li>

                    <li class="nav-item">
                        <a><i class="fa-solid fa-circle-dollar-to-slot"></i>&nbsp;Donate</a>
                    </li>
                    
                </ul>

                <ul class="navbar-nav">
                    <% if user_signed_in? %> 

                        <li class="nav-item dropdown">
                            <a><i class="fa-solid fa-user"></i>&nbsp;<%= current_user.email %></a>

                            <ul class="dropdown-list">

                                <li>
                                    <a href="<%= destroy_user_session_path %>"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Sign Out</a>
                                </li>

                                <% if current_user.admin? %>
                                <li>
                                    <a href="<%= admin_index_path %>"><i class="fa-solid fa-gauge"></i>&nbsp;Admin Panel</a>
                                </li>
                                <% end %>

                                <% if current_user.super_user? %>
                                <li>
                                    <a href="<%= admin_super_path %>"><i class="fa-solid fa-gear"></i>&nbsp;Manage Data</a>
                                </li>
                                <% end %>

                            </ul>
                        </li>

                        

                        
                    <% else %>

                        <li class="nav-item">
                            <a><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Sign In</a>
                        </li>

                        
                    <% end %>
                </ul>
            </ul>
        </div>

        
    </div>
    <script>
        $(document).ready(function() {
            $(".dropdown-toggle").dropdown();
        });
    </script>

    
</nav>